.leaderboard {
    text-align: center;
    width: 100%;
    place-content: center;
    margin: var(--size-6) auto;
    padding: var(--size-2)
}

.leaderboard table {
    place-content: center;
    overflow-x: auto;
    margin: auto;
    padding: 0 var(--size-2);
    min-width: 100%;
}

@media (--md-n-above) {
    .leaderboard table {
        min-width: 800px;
        max-width: 1024px;
    }
}


.leaderboard th {
    padding: var(--size-3) 0;
}

.leaderboard th:first-child {
    text-align: left;
    padding-left: var(--size-2);
}

.leaderboard td {
    padding: var(--size-3) 0;
}

.leaderboard td:first-child {
    padding-left: var(--size-2);
}

.person {
    display: flex;
    gap: var(--size-3);
    align-items: center;
}

.person > img {
    border-radius: var(--radius-round);
    inline-size: var(--size-8);
}

